{
  "plugins": [
    "react",
    "react-native"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "semi": 2,
    "prefer-arrow-callback": 2,
    "no-var": 2,
    "arrow-spacing": 1,
    "arrow-parens": 1,
    "brace-style": [1, "stroustrup"],
    "prefer-const": 1,
    "quotes": [1, "single"],
    "no-unused-vars": [1, { "argsIgnorePattern": "^_" }],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-raw-text": [2, { "skip":  ["MonoText"] }],
    "react-native/no-single-element-style-arrays": 2,
    "react-native/no-inline-styles": 1,
    "react-native/no-color-literals": 1
  }
}
